
example/BBC_Greene/Data/BBC_Greene_corpus_df.pkl
example/BBC_Greene/Data/BBC_Greene_doc_word_tfidf.pkl
example/BBC_Greene/Data/BBC_Greene_self_coherence.pkl
example/BBC_Greene/Data/BBC_Greene_topic_assignment_scan_data.pkl
example/BBC_Greene/Data/BBC_Greene_topic_similarity_data.pkl
example/BBC_Greene/Data/BBC_Greene_w2v_skipgram.model
example/BBC_Greene/Data/Topic_Assignmentss/BBC_Greene_doc_topic_mat_10_topics.pkl
example/BBC_Greene/Data/Topic_Assignmentss/BBC_Greene_doc_topic_mat_3_topics.pkl
example/BBC_Greene/Data/Topic_Assignmentss/BBC_Greene_doc_topic_mat_4_topics.pkl
example/BBC_Greene/Data/Topic_Assignmentss/BBC_Greene_doc_topic_mat_5_topics.pkl
example/BBC_Greene/Data/Topic_Assignmentss/BBC_Greene_doc_topic_mat_6_topics.pkl
example/BBC_Greene/Data/Topic_Assignmentss/BBC_Greene_doc_topic_mat_7_topics.pkl
example/BBC_Greene/Data/Topic_Assignmentss/BBC_Greene_doc_topic_mat_8_topics.pkl
example/BBC_Greene/Data/Topic_Assignmentss/BBC_Greene_doc_topic_mat_9_topics.pkl
example/BBC_Greene/Data/Topic_Models/BBC_Greene_0003_topics_ensemble_model.pkl
example/BBC_Greene/Data/Topic_Models/BBC_Greene_0003_W_ensemble_model.pkl
example/BBC_Greene/Data/Topic_Models/BBC_Greene_0004_topics_ensemble_model.pkl
example/BBC_Greene/Data/Topic_Models/BBC_Greene_0004_W_ensemble_model.pkl
example/BBC_Greene/Data/Topic_Models/BBC_Greene_0005_topics_ensemble_model.pkl
example/BBC_Greene/Data/Topic_Models/BBC_Greene_0005_W_ensemble_model.pkl
example/BBC_Greene/Data/Topic_Models/BBC_Greene_0006_topics_ensemble_model.pkl
example/BBC_Greene/Data/Topic_Models/BBC_Greene_0006_W_ensemble_model.pkl
example/BBC_Greene/Data/Topic_Models/BBC_Greene_0007_topics_ensemble_model.pkl
example/BBC_Greene/Data/Topic_Models/BBC_Greene_0007_W_ensemble_model.pkl
example/BBC_Greene/Data/Topic_Models/BBC_Greene_0008_topics_ensemble_model.pkl
example/BBC_Greene/Data/Topic_Models/BBC_Greene_0008_W_ensemble_model.pkl
example/BBC_Greene/Data/Topic_Models/BBC_Greene_0009_topics_ensemble_model.pkl
example/BBC_Greene/Data/Topic_Models/BBC_Greene_0009_W_ensemble_model.pkl
example/BBC_Greene/Data/Topic_Models/BBC_Greene_0010_topics_ensemble_model.pkl
example/BBC_Greene/Data/Topic_Models/BBC_Greene_0010_W_ensemble_model.pkl
example/BBC_Greene/Plots/BBC_Greene_angle_distribution.png
example/BBC_Greene/Plots/BBC_Greene_self_coherence.png
example/BBC_Greene/Plots/BBC_Greene_topic_angle_distributions.png
example/BBC_Greene/Plots/BBC_Greene_Topic_Assignment_Scan.png
example/BBC_Greene/Plots/BBC_Greene_Topic_K_Trace.pdf
example/BBC_Greene/Plots/BBC_Greene_verbosity.png
example/BBC_Greene/Plots/Topic_Reports/BBC_Greene_Topic_Definitions_k_topics_10.pdf
example/BBC_Greene/Plots/Topic_Reports/BBC_Greene_Topic_Definitions_k_topics_5.pdf
tanagra.egg-info/dependency_links.txt
tanagra.egg-info/PKG-INFO
tanagra.egg-info/SOURCES.txt
tanagra.egg-info/top_level.txt
tanagra/__pycache__/__init__.cpython-37.pyc
tanagra/__pycache__/NMF_Analysis_Functions.cpython-37.pyc
tanagra/__pycache__/NMF_Classes.cpython-37.pyc
tanagra/__pycache__/NMF_Plot_Functions.cpython-37.pyc
tanagra/__pycache__/NMF_Preprocess_Functions.cpython-37.pyc
tanagra/__pycache__/NMF_Topic_Analysis_Functions.cpython-37.pyc
